<h1>Add a book containing the secrets of multi-verse</h1>

<form action="/Books/Create" method="post">
  <label for="title">Title</label>
  <input id="title" name="title" type="text">
  <label for="pageNumber">Number of Pages</label>
  <input id="pageNumber" name="pageNumber" type="number">
  <button type="submit">Submit</button>
</form>

<a href="/Books/">Back</a>
