@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Book

<h1>Kill them all</h1>

<p>Delete: @Model.Title</p>
<form action="/Books/Delete" method="post">
  <input id="id" name="id" type="number" value="@Model.BookId" hidden>
  <button type="submit">Confirm</button>
</form>
