@using FreeKingdomLit.Models

@model List<FreeKingdomLit.Models.Book>
<h1>More beer</h1>


@if(Model.Any())
{
<ui>
  @foreach(Book book in Model)
  {
    <li><a href="/Books/@book.BookId">@book.Title</a></li>
  }
</ui>
}
else
{
  <p>no books</p>
}
<a href="/Books/new/">Add Book</a>
<br>
<a href="/">Back</a>