@using FreeKingdomLit.Models

@model List<FreeKingdomLit.Models.Book>
<h1>More beer</h1>


@if(Model.Any())
{
<ui>

  @foreach(Book book in Model)
  {
    <li>@book.Title</li>
  }
</ui>
}
else
{
  <p>no books</p>
}
<a href="/">Back</a>