@using FreeKingdomLit.Models

@model List<FreeKingdomLit.Models.Book>
<h1>Books!</h1>

@if(Model.Any())
{
<ui>
  @foreach(Book book in Model)
  {
    <li><a href="/Books/@book.BookId">@book.Title</a></li>
  }
</ui>
}
else
{
  <p>no books</p>
}
<p>@Html.ActionLink("AddBook", "Create")</p>
<br>
<p>@Html.ActionLink("Back", "Index", "Home")</p>