@using FreeKingdomLit.Models

@model List<FreeKingdomLit.Models.Book>

<h1>Books the librarians have censored because they don't want you know the truth</h1>

<p>@Html.ActionLink("Books", "Index", "Books")</p>
<p>@Html.ActionLink("Genres", "Index", "Genres")</p>

<h2>Books</h2>