<h1>Genre creation</h1>

<form action="/Genres/Create" method="post">
  <label for="name">Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>

<a href="/Genres">GO BACK</a>