@using FreeKingdomLit.Models

<h1>Genre Details Page</h1>

<p>@Model.Name</p>

<a href="/Genres/@Model.GenreId/Delete">Delete</a>
<a href="/Genres/@Model.GenreId/Edit">Edit</a>
<a href="/Genres">Back</a>