@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Genre

<h1>Genre Details Page</h1>

<p>@Model.Name</p>

<p>@Html.ActionLink("Delete", "Delete", new {id = Model.GenreId})</p>
<p>@Html.ActionLink("Edit", "Edit", new {id = Model.GenreId})</p>
<p>@Html.ActionLink("Back", "Index")</p>