@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Genre

<h1>Edit Genre</h1>

<form action="/Genres/@Model.GenreId/Edit" method="post">
  <input id="id" name="id" type="number" value="@Model.GenreId" hidden>
  <label for="name">Name</label>
  <input id="name" name="name" type="text" value="@Model.Name">
  <button type="submit">Submit</button>
</form>

<a href="/Genres/@Model.GenreId">Back</a>