@using FreeKingdomLit.Models
@model FreeKingdomLit.Models.Genre

<h1>Edit Genre</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GenreId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>