@using FreeKingdomLit.Models

@model List<FreeKingdomLit.Models.Genre>

<h1>Genres</h1>

@if(Model.Any())
{
<ui>
  @foreach(Genre genre in Model)
  {
    <li>@Html.ActionLink($"{genre.Name}", "Details", new {id = genre.GenreId})</li>
  }
</ui>
}
else
{
  <p>no genres yet</p>
}

<p>@Html.ActionLink("Add Genre", "Create")</p>
<p>@Html.ActionLink("Back", "Index", "Home")</p>